h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    font-style: normal;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
    list-style: none;
    margin: 0 auto;
    text-decoration: none;
}

.link {
    background-color: antiquewhite;
    padding: 40px;
    width: 200px;
    text-align: center;
}

.image {
    background-size: cover;
}